<!DOCTYPE html>
<html>
<head>
  <title>Show Book</title>
  <link href="/assets/libraries_manifest.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="show_book">
    <div class="hidden">
      <table id="show_template"" cellpadding="10">
        <tr>
          <td>Name:</td> <td id="name"></td>
        </tr>
        <tr>
          <td>Code:</td> <td id="code"></td>
        </tr>
        <tr>
          <td>Author:</td> <td id="author"></td>
        </tr>
        <tr>
          <td>Price:</td> <td id="price"></td>
        </tr>
        <tr>
          <td>Publication:</td> <td id="publication"></td>
        </tr>
        <tr>
          <td>Version:</td> <td id="version"></td>
        </tr>
        <tr>
          <td id="back"></td> 
        </tr>
      </table>
    </div>
  </div>
</body>
</html>