<!DOCTYPE html>
<html>
<head>
  <title>Show Member</title>
  <link href="/assets/libraries_manifest.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="show_cat">
    <div class="hidden">
      <table id="show_template"" cellpadding="10">
        <tr>
          <td>Name:</td> <td id="name"></td>
        </tr>
        <tr>
          <td>Address:</td> <td id="address"></td>
        </tr>
        <tr>
          <td>Phone:</td> <td id="phone_no"></td>
        </tr>
        <tr>
          <td>Gender:</td> <td id="gender"></td>
        </tr>
        <tr>
          <td>Code:</td> <td id="code"></td>
        </tr>
        <tr>
          <td>Validity Date:</td> <td id="validity_date"></td>
        </tr>
        <tr>
          <td>Is Author:</td> <td id="is_author"></td>
        </tr>
        <tr>
          <td id="back"></td> 
        </tr>
      </table>
    </div>
  </div>
</body>
</html>